<!doctype html>
<html>
<head>
    <title>Mood Tracker</title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" id="jumbotron">
        <h1>Go ahead...sit down and log your mood!</h1>
        <div id="login-image" >
        <img src="img/mood-tracker-cover.png" alt="Image of various faces representing different moods">
        </div>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        

    </div>

</div>
</body>
</html>
